<div class="container-fluid ">
  <h1>Virtual Workshop Registration  form</h1>
  <hr>
  <p> Join the 3-day web development <br>
    virtual workshop and become a <br>
    hirable freelancer.
   </p>
<pre>
  Participation Fee:$200
</pre>
<pre>
  Limited slots!Reserve now!
</pre>
<div>
<p style="text-align: right">
  <h4> Virtual Workshop Schedule</h4>
  <p>May 1-3 </p>

</div>


 

<div>
<label>Please rate your web development or programming knowledge</label><br>
<input type="checkbox" class="form-check-input" name= "I don't have any idea at all"><label class="form-check-label">I don't have any idea at all</label><br>
<input type="checkbox" class="form-check-input" name= "I'm a newbie in web development and programming "><label class="form-check-label">I'm a newbie in web development and programming </label><br>
<input type="checkbox" class="form-check-input" name= "I have watched tutorials online"><label class="form-check-label">I have watched tutorials online</label><br>
<input type="checkbox" class="form-check-input" name= " I have a web development-related working experience"><label class="form-check-label">I have a web development-related working experience</label><br>
<input type="checkbox" class="form-check-input" name= "I'm currently working as a web developer and wants to improve my skills"><label class="form-check-label">I'm currently working as a web developer and wants to improve my skills</label><br>
<input type="checkbox" class=" form-check-input" type="text" name="Other"><label class="form-check-label">Other</label>
</div>
<pre>
</pre>
<div>
  <label>I'd like to learn about the following:</label><br>
  <input type="checkbox" class="form-check-input" name= "HTML"><label class="form-check-label">HTML</label><br>
  <input type="checkbox" class="form-check-input" name= "Javascript "><label class="form-check-label">Javascript</label><br>
  <input type="checkbox" class="form-check-input" name= "Database"><label class="form-check-label">Database</label><br>
  <input type="checkbox" class="form-check-input" name= " Ruby on Rails"><label class="form-check-label">Ruby on Rails</label><br>
  <input type="checkbox" class="form-check-input" name= "DevOps "><label class="form-check-label">DevOps</label><br>
  <input type="checkbox" class=" form-check-input"  name="Front-End development"><label class="form-check-label">Front-End development</label>
  </div>

  <pre></pre>


<h2>Partipant Information</h2>
  <form  #userForm="ngForm">
    {{userForm.value | json}}
  <div class="form-group">
    <label>Name</label><br>
    <label>firstname</label>
    <input type="text" class="form-control" name="firstname" [(ngModel])="userModel.firstname">
    <label>lastname</label>
    <input type="text" class="form-control" name="lastname" [(ngModel)]="userModel.lastname">
    </div>
    </form>
    <hr>
    <div class="form-group">
      <label>Phone Number</label><br>
      <input type="email" class="form-control"  ngModel>
      <input type="text" class="form-control" ngModel>
</div>
    
<div class="form-group">
      <label>Email</label><br>
      <input type="email" class="form-control"  ngModel>
      </div>
<pre>
</pre>

<div class="form-group">
  <label>Address</label><br>
  <input type="email" class="form-control" ngModel >
  </div>
  <div class="form-group">
    <label> Street Address</label><br>
    <input type="email" class="form-control"  ngModel>
    </div>
    <div class="form-group">
      <label> Street Address line 2</label><br>
      <input type="email" class="form-control" ngModel >
      <input type="email" class="form-control" ngModel >
      <pre>
    <input type="email" class="form-control" ngModel  > 
      </pre>
      </div>

    <pre></pre>
    <div class="form-group">
      <label> Occupation</label><br>
      <input type="email" class="form-control" ngModel >
      </div>
      <pre>
      </pre>
      <div class="form-group">
        <label> Company Name</label><br>
        <input type="email" class="form-control" ngModel  >
        </div>

        <pre>
        </pre>
        <div class="form-group">
          <label> Job Position Title</label><br>
          <input type="email" class="form-control"  ngModel >
          </div>


  